.missed {
  background-color: #f38383;
  transition: .5s;
}

main {
  position: relative;
  top: 50px;
  left: 100px;
  width: 600px;
  height: 500px;
  background-color: #44ebeb;
  border-radius: 3px;
  text-align: center;
}
main .startText {
  font-size: 30px;
  padding-top: 200px;
}
main .typing {
  display: none;
}
main .remaining {
  padding: 20px 20px 0 0;
  color: white;
  text-align: end;
}
main .Miss {
  position: relative;
  opacity: 0;
  font-size: 20px;
  font-weight: bold;
  padding-left: 250px;
  font-family: serif;
  color: white;
  top: 300px;
}
main .whenMiss {
  position: relative;
  opacity: 1;
  transition: .3s;
  top: 50px;
}
main .text {
  font-size: 35px;
  padding-top: 100px;
  margin-bottom: 20px;
}
main .alphabet-text {
  font-size: 30px;
}
main .result {
  font-size: 30px;
  color: white;
  display: none;
}
main .extra {
  font-size: 15px;
}
